<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
asdsd
<SCRIPT LANGUAGE="javascript">
     {% if status  == '1' %}
        alert('网络异常,请重新操作');
        window.opener=null;
        window.open('','_self');
        window.parent.close();
        {% elif  status  == '2' %}
        alert('业务ID不存在,请刷新页面或者尚未进行申请');
        window.opener=null;
        window.open('','_self');
        window.close()
        {% else %}
        alert('完成后刷新系统页面');
        window.opener=null;
        window.open('','_self');
        window.close();
     {% endif %}

</SCRIPT>

</body>
</html>